services:
  robot:
    build: .
    privileged: true
    network_mode: host
    environment:
      - DISPLAY=${DISPLAY}
      - XAUTHORITY=/root/.Xauthority
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix
      - /dev:/dev
      - ./src:/root/robot/src
      - ${XAUTHORITY:-$HOME/.Xauthority}:/root/.Xauthority:ro
